.container {
  display: flex;
}

h2,
h3 {
  margin: 4px;
}
button {
  margin: 8px;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .game {
  flex: 1;
}

.container .timer {
  width: 30%;
}

.game-board {
  min-width: 810px;
}

.game-board div {
  width: 200px;
  height: 200px;
  border: 2px solid brown;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.mole-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.hole.active .mole-img {
  display: block;
}
