.container {
  display: flex;
}

h2,
h3 {
  margin: 4px;
}
button {
  margin: 8px;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .game {
  flex: 1;
}

.container .timer {
  width: 30%;
}

.game-board {
  min-width: 810px;
}

.game-board div {
  min-width: 200px;
  min-height: 200px;
  border: 2px solid brown;
  border-radius: 50%;
  margin: 2px;
}

.mole-img {
  display: none;
}

.hole.active .mole-img {
  display: block;
}
