.container {
  display: flex;
}

h2,
h3 {
  margin: 4px;
}
button {
  margin: 8px;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .game {
  flex: 1;
}

.container .timer {
  width: 30%;
}

.game-board div {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid rgb(212, 29, 29);
  border-radius: 50%;
  margin: 2px;
}
